html,
body {
    height: 100%;
}

// todo někdy :)
/*body {

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: -1;

        background-image: url("../images/background1.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

}*/

.action-column {
    width: 1%;
    white-space: nowrap;
}

.price-column {
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

.tab-content {
    margin-top: 10px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin-bottom: -60px;

    &:after {
        content: "";
        display: block;
        height: 60px;
    }

    .wrapperHead {
        padding: 0 0 60px;

        #aktualni-termin {
            height: 40px;
            background-color: #ffffff;
            border-radius: 3px;
            border: 2px solid #eeeeee;
            margin: 5px auto;
            padding: 0 5px;

            div {
                &.termin-info {
                    font-size: 12px;
                    line-height: 18px;
                }

                &.zadny-termin {

                }
            }
        }
    }

    .wrapperContent {
        min-height: 100%;
        height: 100%;
        width: 1170px;
        margin: 0 auto 0;

        .wrapperMiddle {
            min-height: 100%;
            height: auto;
            width: 74%;
            float: left;

            .h2-buttons, .h3-buttons {
                width: 100%;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;

                a.btn {
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            .h2-buttons {
                h2 {
                    line-height: 34px;
                    float: left;
                    min-height: 34px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-right: 20px;
                }
            }

            .h3-buttons {
                h3 {
                    line-height: 30px;
                    float: left;
                    height: 30px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-right: 20px;
                }
            }

            .h4-buttons {
                h4 {
                    float: left;
                }

                a {
                    display: inline-block;
                    margin: 10px 0px 10px 10px;
                    color: #333;
                }
            }

            #terminy-list {
                display: flex;
                flex-wrap: wrap;

                .termin-wrapper {
                    .termin {
                        padding: 5px;
                        margin: 10px 0;
                        border: 1px solid #eee;

                        table {
                            width: 100%;

                            tr {
                                &.separator {
                                    height: 15px;
                                }

                                td {
                                    text-align: center;

                                    &.termin-den {
                                        font-size: 100px;
                                        line-height: 1.1;
                                        font-weight: bold;
                                    }

                                    &.termin-mesic, &.termin-cas {
                                        font-size: 20px;
                                        line-height: 1.2;
                                        font-weight: bold;
                                    }

                                    &.termin-buttony {
                                        a {
                                            &.btn {
                                                display: block;
                                                width: 100%;

                                                &:not(:last-child) {
                                                    margin-bottom: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.probehly {
                            table {
                                tr {
                                    td {
                                        &.termin-den, &.termin-mesic, &.termin-cas {
                                            color: #919191;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #pocasi-wrapper {
                img {
                    width: 100%;
                    max-width: 100px;
                }
            }
        }

        .wrapperRight {
            float: right;
            margin-left: 2%;
            width: 24%;

            span.heading {
                display: block;
                padding: 8px 15px;
                margin-bottom: 20px;
                color: #777;
                list-style: none;
                background-color: #f5f5f5;
                border-radius: 4px;
            }

            & > div {
                padding-bottom: 10px;
                margin-bottom: 10px;

                &:last-child {
                    border-bottom: none;
                }
            }

            #kalendar-widget {
                table.kalendar {
                    width: 100%;

                    tr {
                        &.oddelovac {
                            height: 10px;
                        }

                        td {
                            padding: 0px;
                            position: relative;
                            span {
                                display: block;
                                padding: 3px 5px;
                                text-align: center;
                                position: relative;

                                &.dnes {
                                    background-color: #F5F5F5;
                                    border: 1px solid #CCCCCC;
                                    border-radius: 4px;
                                }

                                &.akce {
                                    position: relative;

                                    &:after {
                                        border-bottom: 7px solid #CCCCCC;
                                        border-left: 7px solid rgba(136, 183, 213, 0);
                                        border-right: 0px none currentColor;
                                        border-top: 7px solid rgba(136, 183, 213, 0);
                                        content: " ";
                                        height: 0px;
                                        position: absolute;
                                        right: -1px;
                                        bottom: -1px;
                                        width: 0px;
                                    }
                                }

                                & + div[class^='seznam-akci'] {
                                    width: 200px;
                                    color: white;
                                    background-color: rgba(0, 0, 0, 0.8);
                                    border-radius: 4px;
                                    font-size: 11px;
                                    line-height: 13px;

                                    &.zavren {
                                        display: none;
                                    }

                                    &.otevren {
                                        z-index: 999;
                                        display: block;
                                        position: absolute;
                                        bottom: 16px;
                                        left: -84px;

                                        &:after {
                                            border: 7px solid rgba(136, 183, 213, 0);
                                            border-top-color: rgba(0, 0, 0, 0.8);
                                            content: " ";
                                            height: 0px;
                                            position: absolute;
                                            right: 92px;
                                            bottom: -14px;
                                            width: 0px;
                                        }
                                    }
                                }
                            }

                            &.mesic {
                                padding: 3px 5px;
                                text-align: center;

                            }

                            &.den {
                                background-color: #F5F5F5;
                                padding: 3px 5px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            #uzivatel-widget {}
        }
    }
}

.wrapperFooter {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

form {
    div.required label:after {
        content: " *";
        color: red;
    }
}
